<?xml version='1.0' encoding='utf-8' ?>
<widget id="io.cocoon.template.polymer.tutorial" version="1.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:cocoon="http://cocoon.io/ns/1.0">
    <name>Polymer template</name>
    <description>
        Polymer template for Cocoon.io cloud compiler based on Getting started tutorial at https://www.polymer-project.org/0.5/docs/start/tutorial/intro.html
    </description>
    <author email="polymer-dev@googlegroups.com" href="https://www.polymer-project.org/">
        Polymer
    </author>
    
    <!-- Shown in the wizard -->
    <icon src="icon.png" />

    <content src="index.html" />
    <access origin="*" />

    <plugin name="cordova-plugin-whitelist" version="1"/>

    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>

    <platform name="android">
        <allow-intent href="market:*"/>
    </platform>

    <platform name="ios">
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
    </platform>

    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />

    <cocoon:plugin name="org.apache.cordova.splashscreen" />
    <cocoon:plugin name="com.ludei.webviewplus.ios" />
    <cocoon:plugin name="com.ludei.webviewplus.android" />   

    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="5000" />
</widget>
